/* creats the margin for the entire page*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* adds color in the background*/
body {
    background-color: #d9dcd6;
}
/* gives font to text, color to background to navagation bar */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/*gives color and text size to "Horiseon" also keeps navigation bar inline */
.header h1 {
    color: #d9dcd6;
    display: inline-block;
    font-size: 48px;
}
/*puts the navigation bar in the correct location  */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* has navigation bar in a row */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/*gives color to the links in the navigation bar*/
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/*adds an image and sizing to the image*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*keeps text aligned to the left*/
.float-left {
    float: left;
    margin-right: 25px;
}
/*keeps text aligned to the right*/
.float-right {
    float: right;
    margin-left: 25px;
}
/*keeps sections aligned*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*gives background color/size/padding/location,gives text font*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*gives text color */
.benefit- {
    margin-bottom: 32px;
    color: #ffffff;
}
/*centers titles in this section*/
.h3 {
    margin-bottom: 10px;
    text-align: center;

}
/*centers images in this section*/
.ben-img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*gives background color/size/padding,gives text font/color*/
.content- {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*sizes the imges*/
.content- img {
    max-height: 200px;
}

/*gives text size in this section*/
.content- h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*centers text and adds font */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*adds size to the text at the bottem of the page*/
.footer h2 {
    font-size: 20px;
}